.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 2px solid rgba(102, 205, 170, .2);
    margin-bottom: 3em;
    padding: .5em 0em;
    @media screen and (max-width: 400px) {
        justify-content: center;
    }
}

footer {
    background-color: white;
    border-top: 2px solid rgba(102, 205, 170, 1);
    margin-top: 3em;
    a {
        color: steelblue;
        border-bottom: 1px solid steelblue;
    }
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-left-container {
    display: flex;
    img {
        width: 9%;
        margin: 0px 1.5em;
    }
    justify-content: flex-start;
    align-items: center;
}

.header-right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        margin-right: 1.5em;
    }
    margin-right: .5em;
}