footer {
    background: url("https://www.destinationtiburon.org/assets/static/footer-wave.png") no-repeat;
    background-size: cover;
    margin-top: 40px;
    opacity: 0.5;
}

.header-container {
    img {
        width: 5%;
        margin-right: 20px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}