.main {
  display: flex;
  flex-direction: column;
}


#map {
    width: 100%;
    height: 100%;
}

.map-container {
    height: 500px;
    width: 500px;
    margin-top: 50px;
    justify-content: space-evenly;
    transition: align-items 500ms ease-in-out;
}

.search-field {
  border-bottom: 1px solid burlywood;
  width: 100%;
  margin: 10px 5px 5px 0px;
}

.search-field:focus .map-container{
      background: red;

  .map-container {
    align-items: flex-start;
    background: red;
  }
}

.produce-list {
  a, div, button {
    font-family: $clean-font;
  }
  li {
    list-style: circle;
    margin-bottom: 10px;
  }
}

.map-flex-container {
      margin-right: 100px;
}