.main {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, 
  rgba(5, 87, 29, .5), 
  white, 
  white,
  white,
  rgba(255, 140, 0, 1));
  // background: url("https://i5.wal.co/dfw/4ff9c6c9-d2f2/k2-_c0a4da88-34f9-46e0-a833-1e75c1e78397.v1.jpg") no-repeat;
  // background-size: contain;
  // opacity: 1;
}

.form-container {
  display: flex;
  margin-top: 7px;
  div {
    margin: 0px;
    margin-right: 10px;
  }
  @media screen and (max-width: 1010px) {
    flex-direction: column;
    button {
      margin: 5px 0px 0px 0px;
    }
  }
}

#map {
    width: 100%;
    height: 100%;
}

.map-container {
    height: 93vh;
    width: 100%;
    justify-content: space-evenly;
    transition: align-items 500ms ease-in-out;
    @media screen and (max-width: 400px) {
      height: 50vh;
    }
}

.search-field {
  border-bottom: 1px solid burlywood;
  width: 100%;
  margin: 10px 5px 5px 0px;
}

.search-field:focus .map-container{
      background: red;

  .map-container {
    align-items: flex-start;
    background: red;
  }
}

.produce-list {
  a, div, button {
    font-family: $clean-font;
  }
  li {
    list-style: circle;
    margin-bottom: 10px;
  }
}

.map-flex-container {
    margin-right: 2%;
    width: 33%;
    @media screen and (max-width: 400px) {
      margin-right: 0;
      width: 90vw;
    }
}

.outer-produce-index-container {
  width: 40%;
  @media screen and (max-width: 400px) {
      width: 90vw;
    }
}

.main-page-container {
   @media screen and (max-width: 400px) {
        flex-direction: column;
        align-items: center;
    }
}