.logo {
    height: 50px;
    width: 50px;
}

.navbar {
    padding: 25px 25px 25px 25px;
    font-size: 40px;
}


button {
    height: 13px;
    width: 40px;
    padding: 8px;
    border: 2px solid burlywood;
    border-radius: 5px;
    box-sizing: content-box; 
    font-size: 13px;
    margin-left: 10px;
    text-align: center;
    color: rgb(5, 65, 5);
}