html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: content-box;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type=password],
input[type=email],
input[type=text],
input[type=submit],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type=submit] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.flex {
  display: flex;
  align-items: center;
}

.top {
  align-items: flex-start;
}

.left-start-row {
  justify-content: flex-start;
}

.left-start {
  align-items: flex-start;
}

.column {
  flex-direction: column;
}

footer {
  width: 100vw;
  height: 200px;
  text-align: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.center {
  justify-content: center;
}

.logo {
  height: 50px;
  width: 50px;
}

.navbar {
  padding: 25px 25px 25px 25px;
  font-size: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 235, 215, 0.5);
  background-image: linear-gradient(to bottom right, rgba(255, 69, 0, 0.3), rgba(250, 235, 215, 0.5), rgba(250, 235, 215, 0.5), darkorange);
}

.form-container {
  display: flex;
  margin-top: 7px;
}
.form-container div {
  margin: 0px;
}
.form-container button {
  margin-left: 10px;
}

#map {
  width: 100%;
  height: 100%;
}

.map-container {
  height: 500px;
  width: 500px;
  margin-top: 40px;
  justify-content: space-evenly;
  transition: align-items 500ms ease-in-out;
}

.search-field {
  border-bottom: 1px solid burlywood;
  width: 100%;
  margin: 10px 5px 5px 0px;
}

.search-field:focus .map-container {
  background: red;
}
.search-field:focus .map-container .map-container {
  align-items: flex-start;
  background: red;
}

.produce-list a, .produce-list div, .produce-list button {
  font-family: "Roboto Condensed", sans-serif;
}
.produce-list li {
  list-style: circle;
  margin-bottom: 10px;
}

.map-flex-container {
  margin-right: 100px;
}

.outer-produce-index-container {
  width: 30%;
}

.form {
  margin: 200px;
}
.form input[type=text] {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.features-container {
  display: grid;
}

.selected {
  background-color: black;
}

footer {
  background: url("https://www.destinationtiburon.org/assets/static/footer-wave.png") no-repeat;
  background-size: cover;
  margin-top: 40px;
  opacity: 0.5;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 205, 170, 0.2);
  margin-bottom: 30px;
}
.header-container img {
  width: 3%;
  margin-right: 20px;
}

/*# sourceMappingURL=output.css.map */
