.selected {
    background-color: black;
}

.produce-thumbnail {
    display: block;
    width: 20%;
    height: 30%;
    object-fit: cover;
    object-position: top;
    border-radius: 15%;
    margin: 0 14px;
}

.title-features-container {
    display: flex;
    align-items: flex-start;
}

.grid-item-container {
    display: flex;
    align-items: baseline;
}