$dark-color: rgb(204, 77, 3);
$bold-font: 'Fredericka the Great', cursive;
$clean-font: 'Roboto Condensed', sans-serif;

// font-family: 'Fredericka the Great', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Cookie', cursive;
// font-family: 'Poiret One', cursive;


html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: content-box;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}


.flex {
    display: flex;
    align-items: center;
}

.top {
  align-items: flex-start;
}

.left-start-row {
  justify-content: flex-start;
}

.left-start {
  align-items: flex-start;
}

.column {
  flex-direction: column;
}

footer {
  width: 100vw;
  height: 200px;
  text-align: center;
}

.space-evenly {
  justify-content: space-evenly;
}
.center {
  justify-content: center;
}